/*
 *   Home Theme Custom StyleSheet
 *   Style Initialisation
 */
.PageMenu .sf-menu > li > a,
.header .category-list > li > a{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px 0;
  display: inline-block;
}
.header .category-list > li.hasChild > a{ padding-right: 18px; }
.PageMenu li ul {
  padding: 27px 20px 15px 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #d9d9d9;
}
.PageMenu li ul li a {
 font-weight: 300;
 font-size: 14px;
}
.footer-main a { 
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}
.footer-links { padding: 28px 0; }
#HomeFeaturedProducts h3,
#SideTopSellers h3,
#HomeNewProducts h3 {
  font-size: 215%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  padding: 4% 0; 
}
#home .ProductList .pname,
#SideProductRelated .pname,
#SimilarProductsByCustomerViews .pname,
#AccountRecentItems .ProductList .pname { font-size: 14px; }
#home .ProductList .prices,
#home .ProductList .price,
#SideProductRelated .prices,
#SideProductRelated .price,
#SimilarProductsByCustomerViews .prices,
#SimilarProductsByCustomerViews .price,
#SimilarMultiProductsByCustomerViews .prices,
#SimilarMultiProductsByCustomerViews .p-price{
  font-size: 133%;
  font-weight: 700;
  line-height: 1.25;
}
#home .ProductList .prices,
#SideProductRelated .prices,
#SimilarProductsByCustomerViews .prices,
#SimilarMultiProductsByCustomerViews .prices,
#AccountRecentItems .prices{ float: left; }
#home .ProductList .prices strike,
#SideProductRelated .prices strike,
#SimilarProductsByCustomerViews .prices strike,
#SimilarMultiProductsByCustomerViews .prices strike,
#AccountRecentItems .prices strike{ display:block; }
body,
.HorizontalFormContainer dd .selector span,
.fastCartTop div,
.list-icon li { color: #333; }
input,
select,
textarea,
input.Textbox,
input[type="text"],
#SearchForm input {
  color: #6e6e6e;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-appearance:none;
}
.Left li a.active,
a:hover,
.Left .slist li a:hover,
.Left .afterSideShopByBrand a:hover,
.Left #GiftCertificatesMenu li a:hover,
.Left #SideAccountMenu li a:hover,
.ModalContent h4 a:hover { color: #999999; }
a.btn:hover{ color:#fff; }
.recaptchatable a:hover,
.page-content #LayoutColumn2 a.pname:hover,
#ModalContent a:hover,
.ModalContent a:hover { color: #999999; }
.multiStep li.ActivePage h4 { border-bottom: 4px solid #999; }
.icon-add { background: #999 url("%%GLOBAL_TPL_PATH%%/images/add.png") no-repeat scroll 50% 50%; }

.productOptionViewProductPickListWithImage td { border-bottom: 1px dotted #e3e3e3; }
.TopMenu li.Flag img.Selected { border: 2px solid #e3e3e3; }
.productOptionPickListSwatch .selectedValue .textureContainer {
  border: 1px solid #e3e3e3 !important;
  border-color: #3d3d3d !important;
}
.productOptionPickListSwatch .textureContainer,
.productOptionPickListSwatch .swatchColours,
.productOptionViewRectangle .option label,
.recaptchatable #recaptcha_response_field,
.zoomWrapper,
#ProductDetails .ProductTinyImageList ul li.selected { border: 5px solid #eaeaea !important; }
.productOptionPickListSwatch .selectedValue .swatchColours{ border-color: #b5b5b5 !important; }
.CurrencyList dd,
select,
hr,
input.Textbox,
textarea,
input[type="text"],
input[type="password"],
.QuickSearch,
.SharePublicWishList,
.ExpressCheckoutBlock .ExpressCheckoutTitle,
.TabNav li a,
.HowToPay,
.NotifyMessage,
.QuickSearchResult .QuickSearchResultImage,
.CurrencyChooser,
div.uploader { border: 1px solid #d6d6d6; }
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent { border-left: 1px solid #e3e3e3; }
.TabNav { border-bottom: 1px solid #e3e3e3; }
.ProductList.List .ListView { border-top: 1px solid #e3e3e3; }
.ProductList.List .ListView:first-child{ border:none; }

.TopMenu > .inner,
#Header > .inner,
.PageMenu > .inner,
.main > .inner,
.footer-main > .inner,
.footer-links > .inner {
  max-width: 1170px;
  width: 90%;
}
table tbody tr td,
table.General tbody tr td,
table.CartContents tbody tr td,
.CompareFieldName { border-bottom: 1px solid #e3e3e3; }

.ProductList li .ProductCompareButton { color: #707070; }
.addto { border-top: 1px solid #e3e3e3; }
.productOptionViewRectangle .option label { color: #999999; }
.productOptionViewRectangle .option.selectedValue label { color: #333; }

.Meta { color: #999999; }

.ProductReviewList li { border-bottom: 1px solid #e3e3e3; }

.borderB { border-bottom: 1px solid #e3e3e3; }

.borderR { border-right: 1px solid #e3e3e3; }

.PageMenu li ul ul { border-left: 1px solid #4d4d4d !important; }

.EstimateShipping { border: 1px solid #e3e3e3; width: 390px; float: right; }
.EstimateShipping input[type="text"]{ max-width:190px; }
.EstimateShipping input[type="button"]{ max-width:190px; float: right; }
.EstimateShippingButtons a{ float: right; clear: both; }
.KeepShopping{ margin-top:10px; }
.PayPalExpressCheckout> p{ margin: 5px 0; }
.CartContents tfoot .SubTotal td {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.Left #SideCategoryList .SideCategoryListFlyout > ul > li,
ul.side-menu li { border-bottom: 1px solid #e3e3e3; }

/* --- Responsive --- */
@media screen and (min-width: 1170px){
	#home .ProductList li,
	#SideProductRelated .ProductList li,
	#SimilarProductsByCustomerViews .ProductList li,
	#SimilarMultiProductsByCustomerViews .ProductList li,
	#AccountRecentItems .ProductList li{ width: 23%; }
}
@media screen and (max-width: 1170px) and (min-width: 860px){
	#home .ProductList li,
	#SideProductRelated .ProductList li,
	#SimilarProductsByCustomerViews .ProductList li,
	#SimilarMultiProductsByCustomerViews .ProductList li,
	#AccountRecentItems .ProductList li{ width: 31%; }
	.productAttributeList .productAttributeLabel{ min-width: 140px; }
	.ProductAddToCart .QuantityInput{ min-width: 142px; }
}
@media screen and (max-width: 860px) and (min-width: 479px){
    #SimilarMultiProductsByCustomerViews .ProductList li,
	#home .ProductList li,
    .productPage .ProductList li,
	#AccountRecentItems .ProductList li{ width: 46%; margin-left:4% !important; }
	.productAttributeList .productAttributeLabel { 	min-width: 140px; }
	.ProductAddToCart .qty{ width:100%; }
}
/* 768px */
@media screen and (max-width: 768px) {
  .TabNav li.Active a {
    border-bottom: 1px solid #e3e3e3;
  }
}
/* 600px */
@media screen and (max-width: 600px) {
  .BillingDetails,
  .ShippingDetails {
    border-top: 1px solid #e3e3e3;
  }
}
/* 480px */
@media screen and (max-width: 480px) {
  #cart-amount .Cart .total {
    background: #333;
    color: #fff;
  }
  #cart-amount .Cart .bag-handle {
    border: 2px solid #333;
  }
}


/*
#co-app .co-header {
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
}
#co-app .co-header--title > h2 { color: #333; }
#co-app .co-steps-nav li.is-active a {
  color: #333;
}
#co-app .co-steps-nav li.is-disabled a,
#co-app .co-steps-nav li.is-disabled a:hover,
#co-app .co-steps-nav li.is-disabled a:active,
#co-app .co-steps-nav li.is-disabled a:focus {
  color: #333;
  opacity: 0.5;
}
#co-app .co-steps-nav a { color: #333; }
#co-app .co-steps-nav--divider {
  color: #333;
}
#co-app .bui-modal-content {
  background-color: #fff;
}
#co-app .co-selectable-panel {
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app input,
#co-app select {
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app .bui-button {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  padding: 0 1.2em;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#co-app .bui-button .bui-icon {
  line-height: inherit;
}
#co-app .bui-button-primary {
  border: 1px solid #333;
  background: #333;
  color: #fff;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app .bui-button.bui-button-primary:hover,
#co-app .bui-button.bui-button-primary:focus {
  border-color: #4d4d4d;
  background: #4d4d4d;
}
#co-app .bui-button-link,
#co-app .bui-button-secondary {
  background-color: transparent;
  border: 3px solid #333;
  color: #333;
  line-height: 29px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#co-app .bui-button.bui-button-link:hover,
#co-app .bui-button.bui-button-link:focus,
#co-app .bui-button.bui-button-secondary:hover,
#co-app .bui-button.bui-button-secondary:focus {
  border: 3px solid #999999;
  background-color: transparent;
  color: #999999;
  text-decoration: none;
}
#co-app .co-side--finishchangeitems {
  height: 21px;
  padding: 3px 6px 3px;
  line-height: 14px;
}
@media (max-width: 1019px) {
  #co-app .co-side {
    background-color: #fff;
  }
}
@media (min-width: 1020px) {
  #co-app .co-main {
    border-right: 1px solid #e3e3e3;
  }
}

*/